body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #005a9c; /* Adjust the color to make it darker for better visibility */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* This makes the items lay out horizontally */
    margin-right: 20px; /* Adds space between items */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#main {
    padding: 20px;
    margin: 0 10%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block; /* Stacks the navigation items vertically on small screens */
        text-align: center;
    }
}
